/*=============== GOOGLE FONTS ===============*/
@import url("https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;500;600&display=swap");

/*=============== VARIABLES CSS ===============*/
:root {
  /*========== Colors ==========*/
  /*Color mode HSL(hue, saturation, lightness)*/
  --first-color: hsl(38, 92%, 58%);
  --first-color-light: hsl(38, 100%, 78%);
  --first-color-alt: hsl(32, 75%, 50%);
  --second-color: hsl(195, 75%, 52%);

  --white-color: hsl(212, 4%, 95%);

  --color-border: #ddd;
  --border-radius-form: 4px;

  /*========== Font and typography ==========*/
  /*.5rem = 8px | 1rem = 16px ...*/
  --body-font: "Roboto", sans-serif;
  --h2-font-size: 1.25rem;
  --normal-font-size: 1rem;
  --font-size: 15px;
  --background: #f49b02;
}

/*=============== BASE ===============*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
  font-size: var(--font-size);


}

body {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  background-color: var(--body-color);
  color: var(--white-color);
  background-color: #f2f2f2;
}

.header {
  background-color: var(--background);
  position: relative;
  z-index: 5000;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

/*=============== CARD ===============*/



.card__containerr {
  background-color: #51397e;
}

/*=============== BREAKPOINTS ===============*/
/* For small devices */
@media screen and (max-width: 320px) {
  .card__data {
    padding: 1rem;
  }
}

/* For medium devices */
@media screen and (min-width: 768px) {
  .card__content {
    margin-inline: 3rem;
  }

  .swiper-button-next,
  .swiper-button-prev {
    display: block;
  }
}

/* For large devices */
@media screen and (min-width: 1200px) {
  .card__container {
    max-width: 1050px;
  }

  .swiper-button-prev {
    left: -1rem;
  }

  .swiper-button-next {
    right: -1rem;
  }
}

.lazyloadeds {
  height: 50px;
  width: 50px;
}

.boderr {
  border: 1px solid #ddd;
}

.Free {
  border: 1px solid #ddd;
}

/* @media screen and (min-width: 1050px) {
  .List {
    max-width: 1050px;
  }
} */

.laptop {
  border-radius: 15px;
  border: 1px solid #ddd;
  width: 50px;
  height: 30px;
  text-align: center;
}

.a_blank {
  display: flex;
}

/* vi du */

@media screen and(min-width:1200px) {
  .glide__slide {
    max-width: 1050px;
  }
}

.glide__slide {
  margin-bottom: 10px;
  height: 200px;
  width: 300px;
  border: 1px solid black;
  line-height: 100px;
  margin: 0;
  text-align: center;
  color: black;
}

.price {
  color: red;
}

.discount {
  background-color: red;
  color: white;
}

.old-price {
  text-decoration-line: line-through;
}

.sticker-icon {
  top: 10px;
  left: 10px;
  display: flex;
  align-items: center;
  background: -webkit-gradient(linear,
      left top,
      right top,
      from(#faab08),
      to(#d42611));
  background: linear-gradient(to right, #faab08, #d42611);
  border-radius: 12px;
  margin-left: 5px;
}

.news-item-img {
  width: 180px;
}

.facebook {
  margin-top: 20px;
  width: 50px;
  height: 50px;
  background-color: #3d5a98;
  border-radius: 50% !important;
  transition: width 2s;
  display: flex;
  box-align: center;
  align-items: center;
  box-pack: center;
  color: white;
  font-size: 30px;
  justify-content: center;
  text-decoration: none !important;
  transition: all 0.25s;
}

.fab {
  font-size: 25px;
}

.youtube {
  margin-left: 10px;
  margin-top: 20px;
  width: 50px;
  height: 50px;
  background-color: red;
  border-radius: 50% !important;
  transition: width 2s;
  display: flex;
  box-align: center;
  align-items: center;
  box-pack: center;
  color: white;
  font-size: 30px;
  justify-content: center;
  text-decoration: none !important;
  transition: all 0.25s;
}

.linkedin {
  margin-left: 10px;
  margin-top: 20px;
  width: 50px;
  height: 50px;
  background-color: #0077b5;
  border-radius: 50% !important;
  transition: width 2s;
  display: flex;
  box-align: center;
  align-items: center;
  box-pack: center;
  color: white;
  font-size: 30px;
  justify-content: center;
  text-decoration: none !important;
  transition: all 0.25s;
}

.tiktok {
  margin-left: 10px;
  margin-top: 20px;
  width: 50px;
  height: 50px;
  background-color: black;
  border-radius: 50% !important;
  transition: width 2s;
  display: flex;
  box-align: center;
  align-items: center;
  box-pack: center;
  color: white;
  font-size: 30px;
  justify-content: center;
  text-decoration: none !important;
  transition: all 0.25s;
}

.product {
  margin: 0 5px 10px 5px;
  width: calc(33.3333333333% - 10px);
  padding: 7px 9px;
  border: 1px solid #efefef;
}

.btn-bigbuynow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 20px;
  background-color: #F49B02;

  align-items: center;
  justify-content: center;
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
  padding-left: 7px;
  padding-right: 7px;
  border-radius: 4px;
  height: 60px;
  width: 100%;

  flex-direction: column;
}

.label {
  display: block;
  font-size: 12px;
  line-height: 14px;
  margin-top: 2px;
  text-transform: none;
  font-weight: normal;
}

.col-lg-2 {
  padding-left: 7px;
}

.col-lg-3 {
  padding-right: 7px;
}

.btn-bigaddcart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  padding-right: 7px;
  background-color: #F49B02;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
  padding: 7px 10px;
  border-radius: 4px;
  height: 60px;
  flex-direction: column;
}

.product-promotion .product-promotion-header {
  background-color: red;
  color: #fff;
  margin-top: 10px;
  padding: 15px 20px;
  font-size: 120%;
  text-transform: uppercase;
  font-weight: 600;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  position: relative;
  overflow: hidden;
}

.product-promotion {
  border-radius: 4px;
  margin-bottom: 20px;
}

.list-cart {
  display: flex;

  -ms-flex-flow: column wrap;
  flex-flow: column wrap;
  padding: 0;
}

.list-cart .product-item {
  display: flex;

  flex-direction: row;
  padding: 10px 0;
  width: 100%;
  border: none;
  border-radius: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.product-item {
  width: 100%;
  text-align: left;
  border-top: 0;
  border-left: 0;
  background-color: #fff;
  margin-top: 0;
  padding: 10px 10px 0;
  overflow: hidden;
  height: 100%;
  border-radius: var(--border-radius);
  transition: border 0.25s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
  border: 1px solid transparent;
}

.product-item-img {
  width: 120px;
  height: 120px;
  padding-top: unset;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  height: unset;
  display: flex;
  flex-direction: column;
  margin-bottom: 0;
  padding-bottom: 0;
}

.product-item .product-item-img {
  display: flex;
  align-items: center;
  position: relative;

  justify-content: center;
  margin-bottom: 15px;
  padding-top: 100%;
}

.spinner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  width: 100px;
}

.input-group {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-align: stretch;
  align-items: stretch;
  width: 100%;
}

.btn {
  display: inline-block;
  font-weight: 400;
  text-align: center;
  vertical-align: middle;
  user-select: none;

  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.btn {
  font-size: 100%;
  line-height: 20px;
  border-radius: var(--border-radius-form);
}

.spinner button {
  width: 30px;
  font-size: 120%;
  text-align: center;
  border-color: var(--color-border);
  background-color: transparent;
  padding: 5px 5px;
  height: 30px;
}

.spinner .form-control {
  text-align: center;
  border-radius: 0 !important;
  border-left-width: 0;
  border-right-width: 0;
  border-top: 1px solid var(--color-border);
  border-bottom: 1px solid var(--color-border);
  padding: 5px 5px;
  height: 30px;
}

.form-control {
  font-family: var(--font-family);
  font-size: var(--font-size);
  border-radius: 3px;

  box-shadow: none !important;
  height: 40px;
  width: 50px;
}

.list-cart .product-info .product-item-info .attribute .btn {
  font-size: 90%;
  font-weight: 300;
  text-align: left;
  border-radius: var(--border-radius-form);
  padding: 2px 10px;
  color: #fff;
}

.btn-primary {
  color: #fff;
}

.product-info {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.price-number {
  padding: 10px;
  float: right;
  margin-right: 0;
}

.form-group {
  margin-top: 10px;
}

.btn-order {
  width: 100%;
}

.imgg {
  width: 30px;
}

.bodyy {
  width: 300px;
}

.product-option-item {
  width: 100%;
  flex-shrink: 0;
  padding: 7px 9px;
  border: 1px solid #efefef;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: #333;

  border-radius: var(--border-radius-form);
  cursor: pointer;
  overflow: hidden;
  border-color: var(--background);
}

.iSSCtq {
  color: rgba(0, 0, 0, .54);
  font-size: 14px;
  height: 30px;
  width: 100%;
  align-items: center;
  display: flex;
}